body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 95%;
    width: 100%;
    border-radius: 5px;
}

#bottomDiv {
    height: auto;
    width: auto;
    background-color: #fff;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 20px;
    /* Adjust the radius as needed */
    border-top-right-radius: 20px;
    /* Adjust the radius as needed */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.swipeBar {
    height: 2px;
    background-color: #6A6A6A;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
  }


  .offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0.0001); /* Adjust the alpha (fourth value) for opacity */
  }

  .blueDiv {
    display: flex;
    justify-content: center;
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0; /* Align to the bottom of the screen */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal centering */
    width: 329px; /* Width of the button */
    margin-bottom: 20px; /* Space from the bottom edge */
}

.bluebutt {
    border-radius: 20px;
    border: 2px solid #2A5CC2;
    background: #155EEF;
    display: flex;
    width: 100%; /* Use 100% of the container width */
    padding: 13px 0px 14px 0px;
    justify-content: center;
    align-items: center;
}

button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;}

.offcanvas.show {
    height: 352px;
    border-radius: 24px;
}

.offcanvas-body .row .col {
    font-size: larger;
    padding: 10px;
}

.offcanvas-body .row {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    /* Grey line */
    padding-bottom: 10px;
    /* Spacing below each row */

}

.offcanvas-body .row:last-child {
    border-bottom: none;
    /* Remove the border from the last row */

}

.offcanvas-body .row .col span:first-child {
    font-size: 16px;
}

/* Styling for '1.4 miles' and SVG icon */
.offcanvas-body .row .col div:last-child {
    font-size: 12px;
    color: #6A6A6A;
}

/* Styling for SVG icon */
.offcanvas-body .row .col svg {
    fill: #6A6A6A;
}

/* Styling for '9 min' */
.offcanvas-body .row .col strong {
    font-size: 20px;
}